<% provide(:title, "Home") %>
<div class="full-page-container">

<div id="map-reload"><i class="fas fa-sync-alt"></i>
  Refresh The map</div>

<div class="map-wrapper">
  <div id="map"  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    class="home-map">
  </div>
 
</div>


  <div class="d-flex home-btn-container">
    <div class="flex-fill footer-btn footer-btn-left ">
      <%= link_to "My list", "#", class: 'btn-home btn-block toggler', data: { target: 'degree-filter' } %>
    </div>
    <div class="flex-fill footer-btn footer-btn-left ">
      <%= link_to "All friends", "#", class: 'btn-home btn-block toggler', data: { target: 'friend-filter' } %>
    </div>
  </div>


  <div id="restaurant-list" class="container home-container panel overflow-auto active">
    <!-- <#% current_user.restaurants.each do |resto| %>
      <%#= render "restaurants/restaurant_card", resto: resto, link: true %>
    <#% end %> -->
  </div>

  <%= render 'shared/filter/degree-filter' %>
  <%= render 'shared/filter/friend-filter' %>
  </div>
</div>


<div class="footer bottom-nav active" id="bottom-nav-filter">
  <div class="footer-btn footer-btn-left ">
    <div class="text-centerfooter-button-link">
      <%= link_to restaurants_path, class: "footer-button-link" do %>
        Add a Restaurant
      <% end %>
    </div>
  </div>
  <div class="footer-btn footer-btn-right ">
    <a href="whatsapp://send?text=Here is my Food King list for you: <%= list_url(@link.token) %>" data-action="share/whatsapp/share">
      <i class="mr-1 fas fa-share"></i>Share your list
    </a>
  </div>
</div>

<div class="footer bottom-nav" id="bottom-nav-home">
  <div class="footer-btn footer-btn-big">
    <div class="text-centerfooter-button-link">
      <%= link_to root_path, class: "footer-button-link", remote: true do %>
        <i class="mr-2 fas fa-chevron-circle-left"></i>See the list
      <% end %>
    </div>
  </div>
</div>



<div id="modal"></div>